.button
    background-color: var(--red_rimac)
    border-radius: 8px 
    color: #FFFFFF
    font-style: normal
    font-weight: 700
    font-size: 14px
    line-height: 16px
    // width: 192px
    // height: 56px
    border: none
    letter-spacing: 0.8px


