.header
    display: flex
    align-items: center
    justify-content: space-between
    max-width: 1250px
    width: 80%
    margin: 0 auto
    grid-column: span 2

.header-right
    display: flex

.question
    margin-right: 20px
    color: #676F8F

.phone
    display: flex
    color: #6F7DFF
    img
        margin-right: 4px

@media (max-width:600px) 
    .question
        display: none
