//home page

.login-left{
  display: grid;
  grid-template-rows: 56px calc(100vh - 56px);
}

// thanks page

.thanks-left{
  border-right: 1px solid #E4E8F7;
  background-color: #F7F8FC;
  position: relative;
  grid-area: sidebar;
}

.thanks-right{
  grid-area: main;
  display: flex;
  align-items: center;
  justify-content: center;
}

.thanks-right-container{
  width: 50%;
  max-width: 450px
}

.thanks-left-image{
  background-image: url(/img/thanks_desktop.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 33vw;
  height: 448px;
  position: absolute;
  top: 25%;
  left: 4vw;
}

.thanks-title{
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: -0.2px;
  margin-bottom: 16px;
}

.thanks-title_gray{
  color: var(--gray_1);
}

.thanks-title_red{
  color: var(--red_rimac);
}

.thanks-paraph-container{
  margin-bottom: 40px
}

.thanks-paraph{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color: var(--gray_2);
}

.thanks-paraph_bold{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: var(--gray_2);
}

@media (max-width:800px) {
  

  .thanks-right-container{
    margin-top: 40px;
    width: 90%;
    max-width: 280px;
  }

  .thanks-left{
    background-image: url('/img/thanks_mobile.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: none;

    
    position: relative;
    grid-area: sidebar;
  }

  .thanks-left-image{
    background-image: none;
    position: static;
    width: 0;
    height: 0;
  }

  .thanks-title{
    font-size: 28px;
  }
  
}

// #root {
//   max-width: 1280px;
//   margin: 0 auto;
//   padding: 2rem;
//   text-align: center;
// }

// .logo {
//   height: 6em;
//   padding: 1.5em;
//   will-change: filter;
// }
// .logo:hover {
//   filter: drop-shadow(0 0 2em #646cffaa);
// }
// .logo.react:hover {
//   filter: drop-shadow(0 0 2em #61dafbaa);
// }

// @keyframes logo-spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }

// @media (prefers-reduced-motion: no-preference) {
//   a:nth-of-type(2) .logo {
//     animation: logo-spin infinite 20s linear;
//   }
// }

// .card {
//   padding: 2em;
// }

// .read-the-docs {
//   color: #888;
// }
